<% if (site.tags.length){ %>
  <div class="widget">
    <h4><%= __('tags') %></h4>
    <ul class="blogroll list-unstyled">
      <% site.tags.each(function(tag){ %>
        <li>
          <a href="<%= config.root %><%= tag.path %>" > <i class="mdi-action-label-outline"></i><%= tag.name%></a>
        </li>
      <% }); %>
    </ul>
  </div>
<% } %>
